.heading {
    color:green
}
.img-style{
    width:200px;
    }
.user-card{
    margin: 10px;
    width:200px;
        box-shadow: 1px 1px 3px 1px #ddd;
        border: 1px solid #ddd;
}
.text-wrap {
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
